body {
    background-color: rgb(230, 228, 228);
}

.outer {
    width: 500px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    max-width: 600px;
    padding: 20px;
}

h3 {
    margin-left: 10px;
}

.form_control {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 0.5fr));
    gap: -50px;
    padding:5px;
}

label {
    font-size: 20px;
}
input:focus{
    outline-color: aquamarine;
}